@{
    ViewBag.Title = "";
}

    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="container-fluid text-center">
                <p>WELCOME</p>
                <div class="text-left">
                    1.	Register or Log in in order to access to the Chat Application.<br>
                </div>
            </div>
        </div>
    </div>